html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f577;
  color: rgb(0, 0, 0);
}

 .some{
  content : "";
  margin-top: 1rem;
  height: 2px;
  width:2px;
 }

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  text-align: center;
  display: block;
  padding: 1.5rem 0 1.5rem 0;
  background: linear-gradient(90deg, rgba(25, 126, 163, 0.575), rgb(6, 80, 106));
  font-size: 2.5rem;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  width:100%;
}

.options {
  background: linear-gradient(90deg, rgb(196, 196, 196), rgba(66, 66, 66, 0.204));
  width: 90%;
  height: 4rem;
  margin-top: 1rem;
  border-radius: 25px;
  text-decoration: none;
  position: relative;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  user-select: none;
  padding: 00;


}

@media screen and (max-width:490px) {
  .options {
    width: 100%;
  }
}

.list li {
  text-align: center;
  cursor: pointer;
  position: relative;
  padding: 4px 0px;
  border-radius: 4px;
  transition: background-color 0.2s;
  font-size: 1.3rem;
  color: black;
  user-select: none;
}


.list li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0px;
  height: 2px;
  background-color: #4c7e93;
  transition: all 0.3s ease;
  transform: translate(-50%, -200%);
}

.list li:hover::after {
  width: 13vw;
}

.list li.active::after {
  width: 20vw;
}

/* Game page*/
.add-game {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(97, 143, 167), rgb(125, 217, 225));
  width: 60%;
  margin: 1.5rem auto;
  border-radius: 15px;
  border: 0.5px rgb(75, 75, 75) solid;
  user-select: none;
  cursor: pointer;
}

#add-text {
  padding: 0 1rem 0 1rem;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  backdrop-filter: blur(5px);
  pointer-events: auto;
}

.overlay {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: -2rem auto;
  justify-content: center;
  pointer-events: auto;
  width: 80%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.463);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 25px;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.cancel {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 1rem;
  color: aliceblue;
}

#game-label,
#count-label,
#ques-label {
  margin: 2rem 0rem 0.1rem 1.2rem;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

#game-label {
  margin-top: 3rem;
}

.overlay input {
  width: 85%;
  margin: 0.2rem auto;
  font-size: 18px;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  border: none;
}

.overlay input:focus {
  outline: none;
  border: 3px solid #4c7e93;
}

.game-submit {
  width: auto;
  margin: 2rem auto;
  border-radius: 10px;
  font-size: 20px;
  border: 1.5px solid white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.66), rgba(93, 93, 93, 0.173));
  padding: 0.6rem 1.2rem;
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
  ;
}

.games-content {
  background: rgba(0, 0, 0, 0.259);
  width: 85vw;
  height: auto;
  margin: 2rem auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 15px;
  position: relative;
}

.game-name {
  width: 100%;
  margin: 0.25rem 1rem 1.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 350;
}

.team-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0rem auto;
  justify-items: center;
}

.box {
  background-color: #4c7e93;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  display: block;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: larger;
  font-weight: 400;
  color: white;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .team-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .box {
    height: 150px;
    width: 150px;
  }
}

.more{
  position: absolute;
  top:18px;
  right:35px;
  user-select: none;
  cursor: pointer;
}

.delete{
  background-color: white;
  color: red;
  padding:0.7rem;
  border-radius: 10px;
  font-size: large;
  font-weight: 500;
  position: absolute;
  top:6px;
  right:70px;
  user-select: none;
  cursor: pointer;
}

.games-skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

.game-card-skeleton {
  padding: 1rem;
  border-radius: 8px;
  height: 50vh;
  background: #2a2a2a;
  width:90%;
}

.game-name-skeleton {
  height: 20px;
  width: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #444;
}

.box-skeleton {
  height: 150px;
  width: 150px;
  margin: 5px;
  border-radius: 6px;
  background: #444;
}

@media screen and (max-width:500px) {
  .game-card-skeleton {
    height: 40vh;
  }

  .box-skeleton {
   height: 100px;
   width: 100px;
}
}

.shimmer {
  background: linear-gradient(270deg,
      #444 25%,
      #555 50%,
      #444 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.confirm-delete{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.388);
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  user-select: none;
  font-size: larger;
  padding: 1rem;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  height:180px;
}

.doc-name{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#delete-options{
  text-decoration: none;
  text-decoration-style: none;
  display: flex;
  gap:1rem;
  list-style: none;
  margin-top:4rem;
  font-size: larger;
  cursor: pointer;
  user-select: none;
}

#cancel{
  background-color: white;
  padding:0.3rem 0.8rem;
  border-radius: 25px;
  position: relative;
  left: -30px;
}

#delete{
  background-color: rgb(213, 43, 43);
  color: white;
  padding:0.3rem 0.8rem;
  border-radius: 25px;
  position: relative;
  right: 10px;
}

.temp-text{
  position: fixed;
  left: 50%;
  bottom: 5%;
  background-color: rgba(215, 215, 215, 0.407);
  font-size: 22px;
  padding: 0.2rem 1rem;
  border-radius: 25px;
  z-index: 10;
  backdrop-filter: blur(15px);
  transform: translateX(-50%);
  display:block;      
  text-align: center;
  width:100% auto;
}

@media (max-width:500px){
  .temp-text{
    font-size: 18px;
  }
}

 /* Team page */

 .profile-name{
  background-color: #365a69;
  border-radius: 5px;
  padding:1rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  width:auto;
 }

 .questions{
  position: relative;
  flex:1;
  max-width:800px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
 }

.question-box{
  background: linear-gradient(270deg,rgba(72, 120, 132, 0.892),rgb(71, 136, 146));
  padding:1rem;
  width:85%;
  margin:1rem auto;
  border-radius: 15px;
  color:rgb(251, 251, 251);
  font-size: 18px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  max-width:800px;
  border: 1px solid black;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  min-width: 100px; 
  user-select: none;
  cursor: pointer;   
}

.question-box:hover{
   background:rgb(52, 105, 114);
}

 /* .arrow{
  position: absolute;
  right:4.8%;
  transform: translateY(-135%);
  font-size: 2rem;
  color: white;
  max-width:100%;
  max-height:100%;
  padding:0.4rem 1rem 0.4rem 1rem;
  user-select: none;
  cursor: pointer;
  flex-shrink: 0;  
  background: rgba(79, 173, 187, 0.971);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
 } */

 .arrow{
  z-index: 5;
  font-size:1.45rem;
  color: white;

 }

 /* Questions */

 .question-number{
  background-color: #365a69;
  border-radius: 5px;
  padding:1rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  width:auto;
 }

 .back{
  background: rgba(6, 94, 111, 0.548);
  font-size: 22px;
  padding:0.6rem;
  width:80px;
  text-align: center;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  color: white;
  cursor: pointer;
  user-select: none;
  margin: 1rem;
  border: 1.5px solid rgb(9, 9, 9);
 }

 #q-label{
  display: block;
  font-size: 24px;
  margin:2rem 1rem 0rem 4rem;
 }

 #q-input{
  outline: none;
  border: 1px solid black;
  /* background-color: #9ec9dba0; */
  background: linear-gradient(90deg, rgba(71, 166, 176, 0.575), rgba(84, 182, 218, 0.575));
  min-width:60%;
  width: 80%;
  display: block;
  margin: 0.5rem auto;
  min-height:100px;
  height:170px;
  border-radius: 15px;
  text-align:start;
  color: rgb(5, 5, 5);
  font-size: 1.4rem;
  padding:0.5rem;
  margin-bottom: 2rem;
 }

 .options-box{
  width:100%;
  display:flex;
 }

 @media screen and (min-width:510px){
  .options-box{
  width:75%;
  margin:0 auto;
  display:flex;
 }
 }
 #options{
  margin:0.7rem 2rem 0rem 1rem;
  font-size: 18px;
 }

 #o-text{
  padding:0.7rem 0.5rem 0.5rem 0.5rem;
  margin:0rem 1rem 0.5rem 0rem;
  height: 4vh;
  border-radius: 10px;
  max-width:71%;
  outline: none;
  border: 1px black solid;
  background-color: #7ebdd783;
  font-size: 18px;
  justify-content: center;
 }

 @media (max-width:500px){
  #o-text{
    max-width:60%;
  }
 }

 #o-text:focus{
  border: 2px solid rgb(57, 57, 57);
 }

 .extras{
  background-color: rgb(235, 234, 234);
  width:88%;
  margin:1rem auto;
  padding:0.5rem;
  border-radius: 25px;
  margin-bottom: 2rem;
 }

 #e-label{
  display:block;
  font-size: 20px;
  margin:0.75rem 0rem 0.5rem 1rem;
 }

 .e-inputs{
  display: block;
  margin:0 auto;
  border-radius: 8px;
  width:40%;
  padding:0.5rem;
  font-size: 18px;
  background-color: #7ebdd783;
  overflow: hidden;
  margin-bottom: 1rem;
 }

 @media screen and (min-width:600px) {
  #c-label{
   margin:2rem 0rem 1rem 4.5rem;
  }
 }

 .q-submit{
  display:block;
  margin:1rem auto;
  margin-bottom: 1rem;
  padding:0.6rem 1.2rem;
  font-size: larger;
  border-radius: 10px;
  width:30%;
  margin-bottom:1rem;
  background: rgba(6, 94, 111, 0.548);
  user-select: none;
  cursor: pointer;
 }

 .game-boxes{
  /* background: linear-gradient(270deg,rgba(31, 145, 160, 0.758),rgba(37, 109, 116, 0.864)); */
  /* background: rgb(234, 234, 234); */
  background-color: #4f7b8fe2;
  width:85%;
  border-radius: 25px;
  padding:1rem;
  margin:1rem auto;
  backdrop-filter: blur(15px);
  color: rgb(255, 255, 255);
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.688) , -0.5px -0.5px 0.5px rgba(0, 0, 0, 0.529);
 }

 .game-boxes h2{
  font-weight: 450;
  margin-left: 1rem;
  color: #f6f5f5;
 }

 .wrapper{
  border:0.5px solid rgba(220, 219, 219, 0.868);
  border-radius: 10px;
  display:flex;
  justify-content: space-between;
  margin:2rem 0.5rem 2rem 0.5rem;
  align-items: center;
  color: #2a2a2a;
  font-size: 1.35rem;
  padding:1rem 1.5rem 1rem 1.5rem;
  font-weight: 430;
  color: #ffffff;
 }

 .team-dis{
  margin:0;
 }

 .score-dis{
  text-align: center;
  justify-content: center;
 }

 /* score skeleton */
 .score-skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 90%;
  margin: 2rem auto;
  height: auto;
}

.score-card-skeleton {
  padding: 1rem;
  border-radius: 8px;
  height: 50vh;
  background: #2a2a2a;
  width:90%;
}

.score-name-skeleton {
  height: 20px;
  width: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #444;
}

.score-skeleton {
  width: 90%;
  margin: 1rem auto;
  border-radius: 6px;
  height: auto;
}

.score-box-skeleton{
  width:90%;
  height:20px;
  border-radius: 15px;
  margin:2rem auto;
  padding:1rem;
  margin-bottom: 1rem;
}

.shimmer {
  background: linear-gradient(270deg,
      #444 25%,
      #555 50%,
      #444 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

/* Play page */
 .games-container{
  background-color: #365a69f3;
  width:85%;
  max-width:650px;
  margin:2rem auto;
  /* margin-bottom: -2rem; */
  padding: 2.5rem 0rem 2.5rem 0rem;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
 }

 .play-game{
  font-size: 1.8rem;
  margin:2rem;
 }

 .play-arrow{
  transform: rotate(180deg);
  font-size: 3rem;
  background: rgb(27, 67, 78);
  position: absolute;
  right:0px;
  height:100%;
  align-items: center;
  text-align: center;
  display:flex;
  padding:0 0.8rem 0 0.8rem;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
 }

 .games-container:hover{
  background: rgb(27, 67, 78);
 }

 @media (min-width:520px) {
  .play-game{
  font-size: 2rem;
  margin:2rem;
 }
 }

 /* play page overlay */
 .play-overlay{
  position: fixed;
  background-color: rgba(254, 254, 254, 0.415);
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  backdrop-filter: blur(15px);
  padding:1rem;
  border-radius: 1rem;
  width:70%;
  color:rgb(0, 0, 0);
  user-select: none;
  max-width: 480px;
 }

 .play-game-name{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.75rem;
 }

 .play-what{
  font-size: 1.5rem;
  font-weight: 350;
  margin-left: 1rem;
 }

 .whole{
  background-color: #365a69;
  padding:0.8rem 0.4rem;
  width:80%;
  margin:1rem auto;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
 }

 .whole:hover{
  background-color: #426d7f;
 }

 .line-play{
  content: "";
  height:1.2px;
  width:90%;
  background: rgb(0, 0, 0);
  margin: 0 auto;
  margin-bottom: 1rem;
 }

 .teams-avail{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin: 0rem auto;
  justify-items: center;
 }

 .teams-show{
   display:block;
   background-color: #376477;
   width:120px;
   height: 35px;
   font-size: 20px;
   text-align: center;
   padding:0.4rem;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  color: white;
 }

  @media (max-width:500px){
    .teams-avail{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    } 
    .teams-show{
      width:100px;
    }
  }

 .teams-show:hover{
  background-color: #50849a;
 }

 .close{
  position: fixed;
  right:30px;
  display:block;
  font-size: 30px;
  cursor: pointer;
 }